/* Styling for the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Blurred background */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }  /* Styling for the modal content */
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 20px;
    width:80vw  !important;
    height:90vh  !important;
    max-width: 600px !important;

    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .upload-img{
    z-index: 9999999 !important;
  }
  .modal-content {
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
  }
  .v-close{
    transition: ease-in-out 0.3s all; 
    cursor: pointer;
  }
  .v-close:hover{
    transform: scale(1.3);
  }
  
  .preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cropped-img {
    border: 2px solid #fff;
    border-radius: 10px;
  }
  
  .action-buttons button {
    margin: 0 5px;
  }
  